@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --Font:#E5E5E5;
  --White:#FFFFFF;
  --Dark-Blue:#0A3871;
  --Greey:#C5C5C5;
  --Medium-Gray:#67808E;
  --RGBA:rgba(0,0,0,0.08);
  --White-Blue:#D8DFE8;
  --Medium-Blue:#0a38718a;
  --Gray:#343A40;
  --Gree:#495057;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  
}

::selection{
  background: var(--Dark-Blue);
  color: var(--White);
}

body{
  height: 100%;
  background-image: url("/assets/img/information-security.gif");
  background-repeat:no-repeat ;    
  background-position: top center;
  background-attachment: fixed;
  background-size:auto ;    
}


/* video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -2;
} */


img{
  max-width: 100%;
}

/*-----------------
Encabezado
------------------*/
header{
  position: absolute;
  margin: 40px 0px 0px 40px;
}

header .miLogo{
  display: flex;
  align-items: flex-start;
  width: 50px;
  height: 50px;
}

/*---------------
Principal
----------------*/
main{
  display: flex;
  flex-direction: row;

}

.inputText{
  width: 60%;
  margin: 168px 0px 0px 140px;
  background: transparent;
}

.encriptar{
  width: 660px;
  height: 60%;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  outline: none;
  border: 1px solid var(--Greey);
  border-radius: 15px;
  resize: none;
}

.encriptar::placeholder,:focus{
  color: var(--Dark-Blue);
}

.aviso-inputText{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  position: absolute;
  top: 500px;
}

.texto-aviso{
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  opacity: 0.8;
  color: var(--Medium-Gray);
}

.buttons{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 526px;
}

.btnEncriptar{
  width: 328px;
  height: 67px;
  padding: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--White);
  background: var(--Dark-Blue);
  border: 1px solid var(--Dark-Blue);
  border-radius: 24px;
  cursor: pointer;
  box-shadow: 0px 20px 29px -5px var(--RGBA); 
}

.btnEncriptar:active{
  box-shadow: inset 2px 2px 4px var(--Font),
  inset -3px -4px 8px var(--Dark-Blue);
  color: var(--White-Blue);
}

.btnDesencriptar{
  width: 328px;
  height: 67px;
  padding: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--Dark-Blue);
  background: var(--White-Blue);
  border: 1px solid var(--Dark-Blue);
  border-radius: 24px;
  cursor: pointer;
  box-shadow: 0px 20px 29px -5px var(--RGBA); 
}

.btnCopiar:active,
.btnDesencriptar:active{
  box-shadow: inset 2px 2px 4px var(--Dark-Blue),
  inset -3px -4px 8px var(--Font);
  color: var(--Medium-Blue);
}

.outputText{
  width: 270px;
  height: 580px;
  background: var(--Font);
  box-shadow: 10px 24px 32px -8px var(--Gray);
  position: relative;
  margin-top: 40px;
  border-radius: 32px;
  text-align: center;
}

.outputText-box{
  width: 250px;
  margin: auto;
  margin-top: 50%;
  background: var(--Font);
}

.img-candado{
  background: var(--Font);
}

.texto01{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: var(--Gray);
  background: var(--Font);
}

.texto02{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: var(--Medium-Gray);
  background: var(--Font);
}

.evaluar{
  width: 100%;
  height: 485px;
  position: absolute;
  padding: 20px;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: var(--Gree);
  background: transparent;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  border: none;
  resize: none;
}

.evaluar:focus{
  outline: none;
}

.btnCopiar{
  width: 224px;
  height: 67px;
  margin: 23px;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
  padding: 24px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  background: var(--White-Blue);
  border: 1px solid var(--Dark-Blue);
  border-radius: 20px;
  cursor: pointer;
}

.btnEncriptar:hover,
.btnDesencriptar:hover,
.btnCopiar:hover{
  transform: scale(0.97);
}

/*------------------
Pie De Página
------------------*/
footer{
  margin-top: 15px;
 

  color: var(--Gray);
  text-align: center;
  height: 5px;
  font-size: 20px;
  font-weight: 700;
  color: var(--Gray);
}

.linkedin:hover{
  color: var(--Font);
  opacity: 0.8;
}

.github:hover{
  color: var(--Font);
  opacity: 0.6;
}

/*---------------
Media
----------------*/
@media(max-width: 1250px){
  main{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  .inputText{
      margin: 168px 0px 0px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      position: inherit;
  }

  .buttons{
      display: flex;
      align-items: center;
      position: inherit;
  }

  .aviso-inputText{
      position: inherit;
      margin: 15px;
  }   
  
  .outputText{
      width: 665px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
  }

  .outputText-box{
      display: block;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: absolute;
      bottom: 20%;
      font-size: 24px;
      font-weight: 700;
  }

  .img-candado{
      display: none;
  }

  .btnCopiar{
      position: inherit;
      width: 100%;
  }

  .evaluar{
      width: 100%;
      height: 210px;
      padding: 10px;
  }
}


@media(max-width: 720px){
  
  header .myLogo{
      width: 100%;
      background: var(--White);
      padding: 2px;
  }

  .inputText{
      width:  90%;
      font-size: 24px;
  }

  .buttons{
      display: grid;
      gap: 21px;
  }

  .outputText{
      width: 90%;
  }

  .copyright{
      font-size: 20px;
  }
}